@CHARSET "UTF-8";
@CHARSET "UTF-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}

.row .container1 ul{
	list-style-type: none; 
	padding: 0px; 
	margin: 0px;
	}
/* 省 */	
.row .right-body .yi{
	width:90px; 
	height:23px; 
	margin-top:6px; 
	border:1px solid #e2e2e2; 
	font-size:14px; 
	float:left; 
	line-height:22px; 
	margin-left: 26px;
	color:#a2a2a2;
	}
.row .right-body .yi .yixs{
	float:left; 
	padding-left:10px;
	}
.row .right-body .yi .dianyi{
	width:22px; 
	height:22px; 
	display:block; 
	float:right; 
	background: url(../images/V.png) 0 0 no-repeat;
	cursor:pointer;
}
.row .right-body .yi .quanyi{
	width:90px; 
	height:100px; 
	overflow-y:scroll; 
	overflow-x:hidden; 
	display:none; 
	margin-left:-1px; 
	border:1px solid #e2e2e2; 
	border-top:none; 
	border-right:none; 
	background-color:#FFF;
	}

.row .right-body .yi ul{
	width:70px;
	}
.row .right-body .yi li:hover{
	background-color:#f1f1f1;
	}
/* 市 */	
.row .right-body .er{
	width:130px; 
	height:23px; 
	margin-top:6px; 
	border:1px solid #e2e2e2; 
	font-size:14px; 
	float:left; 
	line-height:22px; 
	margin-left:10px;
	color:#a2a2a2;
	}
.row .right-body .er .erxs{
	float:left; 
	padding-left:10px;
	}
.row .right-body .er .dianer{
	width:22px; 
	height:22px; 
	display:block; 
	float:right; 
	background: url(../images/V.png) 0 0 no-repeat;
	cursor:pointer;
}
.row .right-body .er .quaner{
	width:90px; 
	height:100px; 
	overflow-y:scroll; 
	overflow-x:hidden; 
	display:none; 
	margin-left:-1px; 
	border:1px solid #e2e2e2; 
	border-top:none; 
	border-right:none; 
	background-color:#FFF;
	}

.row .right-body .er ul{
	width:70px;
	}
.row .right-body .er li:hover{
	background-color:#f1f1f1;
	}
/* 区 */	
.row .right-body .san{
	width:160px; 
	height:23px; 
	margin-top:6px; 
	border:1px solid #e2e2e2; 
	font-size:14px; 
	float:left; 
	line-height:22px; 
	margin-left:10px;
	color:#a2a2a2;
	}
.row .right-body .san .sanxs{
	float:left; 
	padding-left:10px;
	}
.row .right-body .san .diansan{
	width:22px; 
	height:22px; 
	display:block; 
	float:right; 
	background: url(../images/V.png) 0 0 no-repeat;
	cursor:pointer;
}
.row .right-body .san .quansan{
	width:90px; 
	height:100px; 
	overflow-y:scroll; 
	overflow-x:hidden; 
	display:none; 
	margin-left:-1px; 
	border:1px solid #e2e2e2; 
	border-top:none; 
	border-right:none; 
	background-color:#FFF;
	}
.row .right-body .san .mousemove{
	display:none;
	}
.row .right-body .san ul{
	width:70px;
	}
.row .right-body .san li:hover{
	background-color:#f1f1f1;
	}